<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- added title-->
    <title>Welcome to #nofilter</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <link rel="stylesheet" href="css/dailyphoto.css" type="text/css">
    <link rel="stylesheet" href="css/reset.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script type="text/javascript" src="js/dailyphoto.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index" onload="init()">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="./landing#page-top">#nofilter</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-white-background" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="./dailyphoto">Daily Photo</a>
                    </li>
                    <li>
                        <a href="./story">Story</a>
                    </li>
                    <li>
                        <a href="./statistics">Statistics</a>
                    </li>
                    <li>
                        <a href="./settings">Settings</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./landing#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Daily Photo Section -->
    <section id="dailyphoto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Daily Photo</h2>
                    <h3 class="section-subheading text-muted">Take your daily photo and watch your story grow</h3>

                    <!-- Capture button -->
                    <p>Tap the "Capture" button to get user media, then tap the "Snapshot!" button to take a screenshot</p>
                    <div>
                        <div>
                            <video id="getUserMedia" width="320" height="240" autoplay></video>
                            <canvas id="canvas" width="320" height="240"></canvas>
                            <img id="snapshot" width="320" height="240" src="" alt="snapshot">
                        </div>
                        <div style="clear:both"></div>
                        <form action="javascript:;" method="post">
                            <button id="captureButton" class="page-scroll btn btn-xl">Capture</button> 
                            <button id="stopButton" class="page-scroll btn btn-xl">Stop</button> 
                            <button id="snapshotButton" class="page-scroll btn btn-xl">Snapshot!</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    <!-- Notie JavaScript -->
    <script src="js/notie.js"></script>

</body>

</html>